<header>
    <div class="container">
        <h1><a href="/">My Job Portal</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search Jobs</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>
        </nav>
    </div>
</header>