<h1>
    <%= title %>
</h1>
<form action="/create/employers" method="POST">
    <label for="name">Tên nhà tuyển dụng:</label>
    <input type="text" id="name" name="name" required>
    <label for="company">C