<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title || 'Website Tuyển Dụng' %>
    </title>
</head>

<body>
    <header>
        <h2>🌐 Website Tuyển Dụng</h2>
        <nav>
            <a href="/">Trang chủ</a>
            <a href="jobs/index.ejs">Việc làm</a>
            <a href="login.ejs">Login</a>
        </nav>
    </header>

    <main>
        <%- body %> <!-- Giữ nguyên chỗ này cho body khi render page -->
    </main>

    <footer>
        <p>&copy; 2025 Website Tuyển Dụng. All rights reserved.</p>
    </footer>
</body>

</html>