<h1>
    <%= title %>
</h1>
<% if (jobs.length> 0) { %>
    <ul>
        <% jobs.forEach(job=> { %>
            <li>
                <a href="/jobs/<%= job._id %>">
                    <%= job.title %>
                </a>
                <p>
                    <%= job.companyName %>
                </p>
            </li>
            <% }); %>
    </ul>
    <% } else { %>
        <p>Không tìm thấy công việc phù hợp.</p>
        <% } %>